.movie-card {
    position: relative;
}

.movie-info {
    display: block;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.movie-card:hover .movie-img, .movie-card:focus-within .movie-img {
    filter: blur(1px);
    opacity: 0.4;
}

.movie-card:focus-within .movie-info {
    display: block;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover, button:focus{
    transform: scale(1.1);
    outline: none;
}
